</body>
<div class = "footer">
    <footer>
        <a href="https://www.google.com/">Have questions? Click here!</a><br>
        <a href="">About Me</a><br>
        <a href="">Contact Me</a><br>
    </footer>
</div>
</div>
</html>